<div class="bd bgc-white" *ngIf="numOfHashtags > 0">
  <div class="peers fxw-nw@lg+ ai-s">
    <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
      <div class="layers">
        <div class="layer w-100 mB-10">
          <h6 id="title_trendingHashTags" class="lh-1">Top {{numOfHashtags}} Trending hashtags</h6>
        </div>
        <div class="layer w-100">
          <div class="row mT-10 mL-5" *ngFor="let ht of hashtags">
            <span class="d-ib lh-0 va-m fw-600 bdrs-10em pX-15 pY-15 bgc-blue-50 clickable" (click)="clickHashtag(ht.hashtag)">{{ht.hashtag}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>