@use '../settings/baseColors' as *;
@use '../tools/mixins/mediaQueriesRanges' as *;
@use '../settings/breakpoints' as *;
@use '../tools/mixins/clearfix' as *;
@use '../settings/materialColors' as *;

// ---------------------------------------------------------
// @Sidebar
// ---------------------------------------------------------

.sidebar {
  background-color: $default-white;
  bottom: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: $offscreen-size;
  z-index: 1000;

  ul {
    list-style-type: none;

    li {
      &.active {
        background-color: rgba(225, 225, 225);
        border-bottom-left-radius: 25%;
        border-top-left-radius: 25%;
      }

      &:not(.active) {
        :hover {
          background-color: rgb(241, 241, 241);
          transition: background-color .3s ease-in
        }
      }
    }
  }

  @include to($breakpoint-md) {
    width: calc(#{$offscreen-size} - 30px);
  }
}

// ---------------------------------------------------------
// @Sidebar Inner
// ---------------------------------------------------------

.sidebar-inner {
  position: relative;
  height: 100%;
}

// ---------------------------------------------------------
// @Sidebar Header
// ---------------------------------------------------------

.sidebar-logo {
  border-bottom: 1px solid $border-color;
  border-right: 1px solid $border-color;
  line-height: 0;
  padding: 0 20px;
  transition: all 0.2s ease;

  a {
    display: inline-block;
    width: 100%;

    .logo {
      background-position: center left;
      background-repeat: no-repeat;
      display: inline-block;
      min-height: calc(#{$header-height} - 1px);
      width: 100%;
      width: 70px;
    }

    .logo-text {
      color: $grey-900;
    }
  }

  .mobile-toggle {
    display: none;
    float: right;
    font-size: 18px;
    line-height: calc(#{$header-height} - 1px);

    a {
      color: $default-text-color;
    }

    @include to($breakpoint-md) {
      display: inline-block;
    }

    @include between($breakpoint-md, $breakpoint-xl) {
      display: none;
    }
  }
}

// ---------------------------------------------------------
// @Sidebar Menu
// ---------------------------------------------------------

.sidebar-menu {
  @include clearfix;
  border-right: 1px solid $border-color;
  height: calc(100vh - #{$header-height});
  list-style: none;
  margin: 0;
  overflow: auto;
  padding: 0;
  position: relative;

  .dropdown-toggle::after {
    display: none;
  }

  .sidebar-link {
    &.activated::before {
      background: $md-blue-500;
      border-radius: 50%;
      content: '';
      display: block;
      height: 8px;
      left: -4px;
      position: absolute;
      top: calc(50% - 4px);
      width: 8px;
    }
  }

  li {
    position: relative;

    &.dropdown {
      .arrow {
        font-size: 10px;
        line-height: 40px;
        position: absolute;
        right: 30px;
        transition: all 0.05s ease-in;

        @include to($breakpoint-md) {
          right: 25px;
        }
      }

      &.open {
        > a {
          color: $default-dark;

          .icon-holder {
            color: $default-info;
          }

          > .arrow {
            transform: rotate(90deg);
          }
        }

        > .dropdown-menu {
          display: block;

          .dropdown-menu {
            padding-left: 20px;
          }

          .arrow {
            line-height: 25px;
          }
        }
      }
    }

    a {
      color: $default-text-color;
      transition: all 0.3s ease;

      &:hover,
      &:focus {
        color: $default-dark;
        text-decoration: none;

        .icon-holder {
          color: $default-info;
        }
      }
    }
  }

  > li {
    &.dropdown {
      ul {
        &.dropdown-menu {
          background-color: transparent;
          border-radius: 0;
          border: 0;
          box-shadow: none;
          float: none;
          padding-left: 50px;
          padding-top: 0;
          position: relative;
          width: 100%;

          > li {
            > a {
              display: block;
              padding: 10px 15px;

              &:hover,
              &:focus {
                background-color: transparent;
                color: $default-dark;
              }
            }

            &.activated {
              a {
                color: $default-dark;
              }
            }
          }
        }
      }
    }

    > a {
      display: block;
      font-size: 15px;
      font-weight: 500;
      padding: 5px 15px;
      position: relative;
      white-space: nowrap;

      .icon-holder {
        border-radius: 6px;
        display: inline-block;
        font-size: 17px;
        height: 35px;
        left: 0;
        line-height: 35px;
        margin-right: 14px;
        position: relative;
        text-align: center;
        transition: all 0.3s ease;
        width: 35px;
      }
    }
  }
}

// ---------------------------------------------------------
// @Sidebar Collapsed
// ---------------------------------------------------------

.is-collapsed {
  .sidebar {
    // @include from($breakpoint-xl) {
    @include from($breakpoint-md) {
      width: $collapsed-size;

      .sidebar-logo .logo img {
        width: 32px;
        height: 32px;
        margin: 0 20px;
        content: url("/favicon.ico");
      }
      .sidebar-inner {
        .sidebar-logo {
          border-bottom: 1px solid transparent;
          padding: 0;
        }

        .sidebar-menu {
          overflow-x: hidden;

          > li {
            > a {
              .title {
                display: none;
              }
            }
          }

          li {
            &.dropdown {
              .arrow {
                opacity: 0;
              }

              &.open {
                ul.dropdown-menu {
                  display: none !important;
                }
              }
            }
          }
        }
      }

    }

    @include to($breakpoint-md) {
      left: 0;
      width: 0px;
    }
  }
}
