<div class="row">
  <!-- #Contributors ==================== -->
  <div class='col-md-3'>
    <div class="layers bd bgc-white p-20@md+ p-10@sm p-20@sm-">
      <div class="layer w-100 mB-10">
        <div class="peers ai-sb fxw-nw">
          <div class="peer pX-5 pT-5 d-n@md">
            <span class="icon-holder">
              <!-- <i class="c-blue-500 ti-user"></i> -->
              <i class="fa-solid fa-users"></i>
            </span>
          </div>
          <div class="peer peer-greed pX-5 pT-10">
            <h6 class="lh-1">Contributors</h6>
          </div>
          <div class="peer pX-5 pT-5">
            <span class="icon-holder" data-bs-toggle="tooltip" title="{{dashboardTooltips.summary.contributions}}" data-bs-html="true">
              <i class="c-grey-800 ti-help-alt"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="layer w-100">
        <span class="d-ib lh-0 va-m fw-600 fsz-lg bdrs-10em pX-15 pY-15 bgc-green-50 c-green-500 whs-nw tov-e">{{contributors}}</span>
      </div>
    </div>
  </div>

  <!-- #Total Edits==================== -->
  <div class='col-md-3'>
    <div class="layers bd bgc-white p-20@md+ p-10@sm p-20@sm-">
      <div class="layer w-100 mB-10">
        <div class="peers ai-sb fxw-nw">
          <div class="peer pX-5 pT-5 d-n@md">
            <span class="icon-holder">
              <i class="fa-solid fa-pen-to-square"></i>
            </span>
          </div>
          <div class="peer peer-greed pX-5 pT-10">
            <h6 class="lh-1">Total Edits</h6>
          </div>
          <div class="peer pX-5 pT-5">
            <span class="icon-holder" data-bs-toggle="tooltip" title="{{dashboardTooltips.summary.totalEdits}}" data-bs-html="true">
              <i class="c-grey-800 ti-help-alt"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="layer w-100">
        <span class="d-ib lh-0 va-m fw-600 fsz-lg bdrs-10em pX-15 pY-15 bgc-red-50 c-red-500 whs-nw tov-e">{{edits}}</span>
      </div>
    </div>
  </div>

  <!-- #Building Edits ==================== -->
  <div class='col-md-3'>
    <div class="layers bd bgc-white p-20@md+ p-10@sm p-20@sm-">
      <div class="layer w-100 mB-10">
        <div class="peers ai-sb fxw-nw">
          <div class="peer pX-5 pT-5 d-n@md">
            <span class="icon-holder">
              <i class="fa-solid fa-city"></i>
            </span>
          </div>
          <div class="peer peer-greed pX-5 pT-10">
            <h6 class="lh-1">Building</h6>
          </div>
          <div class="peer pX-5 pT-5">
            <span class="icon-holder" data-bs-toggle="tooltip" title="{{dashboardTooltips.summary.buildings}}" data-bs-html="true">
              <i class="c-grey-800 ti-help-alt"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="layer w-100">
        <span class="d-ib lh-0 va-m fw-600 fsz-lg bdrs-10em pX-15 pY-15 bgc-purple-50 c-purple-500 whs-nw">{{buidlingEdits}}</span>
      </div>
    </div>
  </div>

  <!-- #km of Roads ==================== -->
  <div class='col-md-3'>
    <div class="layers bd bgc-white p-20@md+ p-10@sm p-20@sm-">
      <div class="layer w-100 mB-10">
        <div class="peers ai-sb fxw-nw">
          <div class="peer pX-5 pT-5 d-n@md">
            <span class="icon-holder">
              <i class="fa fa-road"></i>
            </span>
          </div>
          <div class="peer peer-greed pX-5 pT-10">
            <h6 class="lh-1">km of Roads</h6>
          </div>
          <div class="peer pX-5 pT-5">
            <span class="icon-holder" data-bs-toggle="tooltip" title="{{dashboardTooltips.summary.kmOfRoads}}" data-bs-html="true">
              <i class="c-grey-800 ti-help-alt"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="layer w-100">
        <span class="d-ib lh-0 va-m fw-600 fsz-lg bdrs-10em pX-15 pY-15 bgc-blue-50 c-blue-500 whs-nw tov-e">{{kmOfRoads}}</span>
      </div>
    </div>
  </div>
</div>