<div class="row pos-r" id="big-number_container" #overlayContainer>
    <overlay [isLoading]="isSummaryLoading"  [containerElement]="overlayContainer"></overlay>
    <button type="button" class="btn btn-sm btn-outline-dark w-2r p-0 h-2r pos-a l-35 t-10 z-1" data-bs-toggle="tooltip"
            data-bs-placement="bottom" [attr.data-bs-title]="'Download CSV data used to generate this chart'" (click)="downloadCsv()">
            <span class="icon-holder">
                <i class="ti-download"></i>
            </span>
    </button>

    <app-big-number *ngFor="let data of bignumberData" id="{{data.id}}"
            class="col-md-3" name="{{data.name}}" icon="{{data.icon}}" value="{{data.value}}"
            tooltip="{{data.tooltip}}" color="{{data.color}}"
            (click)="changeCurrentStats($event, data.id)" [startSelected]="data.name==='Contributors'"></app-big-number>
</div>
