.tooltip1 {
    position:absolute; 
    top: 5px; 
    right: 8px;
}

.layers {
    text-align: center; 
    position: relative;
}

.col-md-3 {
    flex: 1 1 200px;
}

@media screen and ( max-width: 1170px ) {
    .col-md-3 { flex-basis: 50%; }                    /* forces two items to a line */
}
