.tooltip1 {
    position:absolute; 
    top: 5px; 
    right: 8px;
}

.layers {
    text-align: center; 
    position: relative;
    pointer-events: auto;
    :hover{
        box-shadow: 0 0px 0px white !important;
    }
    &.selected {
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    }
}

.col-md-3 {
    flex: 1 1 200px;
}

@media screen and ( max-width: 1170px ) {
    .col-md-3 { flex-basis: 50%; }                    /* forces two items to a line */
}

.big_number  {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    pointer-events: none;
    :hover {
        box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
        cursor: pointer;
    }

}   

