<div class="row gap-20">
  <!-- #Toatl Visits ==================== -->
  <div class='col-md-12'>
    <div class="bgc-white p-20 bd">
      <h6 class="lh-1">Query</h6>
      <div class="mT-30">
        <form (keyup.enter)="getStatistics()">
          <div class="row">
            <div class="mb-3 col-md-12">
              <!-- Hashtags -->
              <label class="form-label" for="hastags"> Hashtags</label>
              <input type="text" class="form-control" id="hastags" name="hastags" 
                  [(ngModel)]="hashtags"
                  placeholder="Enter the Hashtags separated by commas">
              <small id="hastagsHelp" class="text-muted"> Hashtags used in Changesets comments eg: missingmaps</small>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-12">
              <!-- Start date, End date and interval -->
              <div class="mb-3 row">
                <div class="col-md-12">
                  <label class="form-label" for="dateRange"> Date range : </label>
                  <input type="text" class="form-control" name="dateRange" mwlFlatpickr
                    [(ngModel)]="selectedDateRange"
                    [altInput]="true"
                    mode="range"
                    [enableTime]="true"
                    [dateFormat]="'Y-m-dTH:i'"
                    [convertModelValue]="true"
                    [minDate]="start"
                    [maxDate]="end"
                  />
                </div>
              </div>
              <!-- <div class="mb-3 row">
                <div class="col-md-12">
                  <label class="form-label" for="startDate"> Start Date: </label>
                  <input type="text" class="form-control" id="startDate" name="startDate"
                    placeholder="Start date">
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-md-12">
                  <label class="form-label" for="endDate"> End Date: </label>
                  <input type="text" class="form-control" id="endDate" placeholder="End Date">
                </div>
              </div> -->
              <div class="mb-3 row">
                <div class="col-md-12">
                  <label class="form-label" for="intervals">Intervals: </label>
                  <select name="intervals" class="form-control" [(ngModel)]="interval">
                    <option *ngFor="let option of intervals" [value]="option.value">{{option.label}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <button class="btn btn-primary btn-color" (click)="getStatistics()">Get Statistics</button>
        </form>
      </div>
    </div>
  </div>
</div>