<div class="row gap-20" style="overflow: visible !important;">
  <!-- #Toatl Visits ==================== -->
  <div class='col-md-12'>
    <div class="bgc-white p-20 bd">
      <!-- <h6 class="lh-1">Query</h6> -->
      <!-- <div class="mT-30"> -->
        <form (keyup.enter)="getStatistics()" class="needs-validation was-validated" novalidate="">
          <div class="row">
            <div class="mb-3 col-md-12">
              <!-- Hashtags -->
              <label class="form-label" for="hashtags"> Hashtag</label>
              <input type="text" class="form-control" id="hashtags" name="hastags"
                  [(ngModel)]="hashtags"
                  placeholder="Enter a Hashtag"
                  required="">
              <small id="hastagsHelp" class="text-muted"> Hashtag used in Changesets comments eg: missingmaps</small>
            </div>
          </div>
          <div class="row">
            <div class="mb-3 col-md-12">
              <!-- Start date, End date and interval -->
              <div class="mb-3 row">
                <div class="col-md-12">
                  <label class="form-label" for="dateRange"> Date range (in UTC) </label>
                  <input type="text"
                    class="form-control"
                    ngxDaterangepickerMd
                    [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                    startKey="start"
                    endKey="end"
                    [minDate]="minDate"
                    [maxDate]="maxDate"
                    [(ngModel)]="selectedDateRange"
                    id="dateRange"
                    name="daterange"
                    [showCustomRangeLabel]="true"
                    [alwaysShowCalendars]="false"
                    [ranges]="ranges"
                    [linkedCalendars]="true"
                    [showClearButton]="true"
                    [timePicker]="true"
                    [timePicker24Hour]="true"
                    placeholder="Select please..."
                    required=""/>
                    <small class="text-muted fs-i">Current time: {{currentTimeInUTC}}</small><br>
                    <small class="text-muted fs-i">Latest database entry: {{maxDateString}}</small>
                </div>
              </div>
              <div class="mb-3 row">
                <div class="col-md-12">
                  <label class="form-label" for="intervals"> Interval </label>
                  <select name="intervals" class="form-control" [(ngModel)]="interval">
                    <option *ngFor="let option of intervals" [value]="option.value">{{option.label}}</option>
                  </select>
                </div>
              </div>
              <div class="mb-3 row">
                <label class="form-label" for="countries">Country Filter</label>
                <ngx-select-dropdown [options]="dropdownOptions" name="countries" [config]="configCountry"
                [(ngModel)]="selectedCountries" [multiple]="true" class="customDropdown"></ngx-select-dropdown>
              </div>
              <div class="row" style="align-items: center; margin-bottom: 1rem;">
                <p class="inline-p"><a class="inline-p" target="_blank" href="https://www.hotosm.org/hubs/">HOT-Priority-Regions:</a></p>
                <div class="custom-row" style="width: auto;">
                  <div class="custom-row" style="width: auto;  padding: 0;">
                    <div class="hub-icon-wrapper"><button title="Asia-Pacific" (click)="changeHub('asia-pacific')" class="hub-icon" style="background: url(../../../assets/images/hubs/asia-pacific.png)"></button></div>
                    <div class="hub-icon-wrapper"><button title="Latin America & the Carribean" (click)="changeHub('la-carribean')" class="hub-icon" style="background: url(../../../assets/images/hubs/la-carribean.png)"></button></div>
                  </div>
                  <div class="custom-row" style="width: auto;  padding: 0;">
                    <div class="hub-icon-wrapper"><button title="Eastern & Southern Africa" (click)="changeHub('wna')" class="hub-icon" style="background: url(../../../assets/images/hubs/nwa.png)"></button></div>
                    <div class="hub-icon-wrapper"><button title="West & Northern Africa" (click)="changeHub('esa')" class="hub-icon" style="background: url(../../../assets/images/hubs/sea.png)"></button></div>
                  </div>
                </div> 
              </div>

              <div class="row">
                <label class="form-label" for="topics">Topic Selection</label>
                <ngx-select-dropdown [options]="topicOptions" name="topics" [config]="configTopics"
                [(ngModel)]="selectedTopics" [multiple]="true" class="customDropdown"></ngx-select-dropdown>
              </div>

            </div>
          </div>
          <button class="btn btn-primary btn-color" (click)="getStatistics()" type="submit">Get Statistics</button>
        </form>
      <!-- </div> -->
    </div>
  </div>
</div>