<div class="row gap-20" style="overflow: visible !important;">
    <!-- #Total Visits ==================== -->
    <div class='col-md-12'>
        <div style="position: relative">
            <div class="hub-icon-wrapper hot-toggle-wrapper" data-bs-toggle="tooltip" data-bs-placement="bottom"
                 data-bs-delay='{ "show": 400, "hide": 100 }'
                 data-bs-title="Toggle quick selection icons for the Humanitarian OSM Team"
                 (click)="hot_controls = !hot_controls" [ngClass]="hot_controls ? '' : 'inactive'">
                <button class="hub-icon hot-toggle" style="background: url(../../../assets/images/hot_logo.png)"></button>
            </div>
        </div>
        <div class="bgc-white p-20 bd">
            <!-- <h6 class="lh-1">Query</h6> -->
            <!-- <div class="mT-30"> -->
            <form (keyup.enter)="getStatistics()" class="needs-validation was-validated" novalidate="">
                <div class="mb-3 row">
                    <label class="form-label" for="hashtag"> Hashtag</label>
                    <div class="ng-autocomplete">
                        <ng-autocomplete
                                id="hashtag"
                                [data]="allHashtagOptions"
                                [minQueryLength]="1"
                                [searchKeyword]="keyword"
                                [customFilter]="searchChange"
                                [debounceTime]="150"
                                placeholder="Enter a hashtag"
                                [itemTemplate]="itemTemplate"
                                [notFoundTemplate]="notFoundTemplate"
                                name="hashtag"
                                [(ngModel)]="hashtag"
                        />
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item"></a>
                        </ng-template>
                        <ng-template #notFoundTemplate let-notFound>
                            <div>No hashtag found</div>
                        </ng-template>
                    </div>
                    <small id="hashtagHelp" class="text-muted"> Hashtag used in Changesets comments eg:
                        missingmaps</small>
                </div>
                <div class="row">
                    <div class="mb-3 col-md-12">
                        <!-- Start date, End date and interval -->
                        <div class="mb-3 row">
                            <div class="col-md-12">
                                <label class="form-label" for="dateRange"> Date and Time Range</label>
                                <input type="text"
                                       class="form-control"
                                       ngxDaterangepickerMd
                                       [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
                                       startKey="start"
                                       endKey="end"
                                       [minDate]="minDate"
                                       [maxDate]="maxDate"
                                       [(ngModel)]="selectedDateRangeUTC"
                                       id="dateRange"
                                       name="daterange"
                                       [showCustomRangeLabel]="true"
                                       [alwaysShowCalendars]="false"
                                       [ranges]="ranges"
                                       [linkedCalendars]="true"
                                       [showClearButton]="true"
                                       [timePicker]="true"
                                       [timePicker24Hour]="true"
                                       (change)="dateUpdated($event)"
                                       [autoApply]="true"
                                       [closeOnAutoApply]="false"
                                       placeholder="Select please..."
                                       required=""/>
                                <small class="text-muted fs-i">Current time: {{currentTimeInUserTimeZone }}</small><br>
                                <small class="text-muted fs-i">Latest database entry: {{maxDateString}}</small>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <div class="col-md-12">
                                <label class="form-label" for="intervals"> Interval </label>
                                <select name="intervals" class="form-control" id="intervals" [(ngModel)]="interval">
                                    <option *ngFor="let option of intervals; index as i; first as isFirst"
                                            [value]="option.value"
                                            [disabled]="allowedInterval(option.value)">{{option.label}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label class="form-label" for="countries">Country</label>
                            <ngx-select-dropdown [options]="dropdownOptions" id="countries" name="countries"
                                                 [config]="configCountry"
                                                 [(ngModel)]="selectedCountries" [multiple]="true"
                                                 class="customDropdown"></ngx-select-dropdown>
                        </div>
                        <div class="row" *ngIf="hot_controls" style="align-items: center; margin-bottom: 1rem;">
                            <p class="inline-p"><a class="inline-p" target="_blank" rel="noopener" href="https://www.hotosm.org/hubs/">HOT-Priority-Regions:</a>
                            </p>
                            <div class="custom-row" style="width: auto;">
                                <div class="custom-row" style="width: auto;  padding: 0;">
                                    <div class="hub-icon-wrapper">
                                        <button title="Asia-Pacific" (click)="changeHub('asia-pacific')"
                                                class="hub-icon"
                                                style="background: url(../../../assets/images/hubs/asia-pacific.png)"></button>
                                    </div>
                                    <div class="hub-icon-wrapper">
                                        <button title="Latin America & the Carribean"
                                                (click)="changeHub('la-carribean')" class="hub-icon"
                                                style="background: url(../../../assets/images/hubs/la-carribean.png)"></button>
                                    </div>
                                </div>
                                <div class="custom-row" style="width: auto;  padding: 0;">
                                    <div class="hub-icon-wrapper">
                                        <button title="West & Northern Africa" (click)="changeHub('wna')"
                                                class="hub-icon"
                                                style="background: url(../../../assets/images/hubs/wna.png)"></button>
                                    </div>
                                    <div class="hub-icon-wrapper">
                                        <button title="Eastern & Southern Africa" (click)="changeHub('esa')"
                                                class="hub-icon"
                                                style="background: url(../../../assets/images/hubs/esa.png)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>

              <div class="mb-3 row">
                <label class="form-label" for="topics-selection">OSM Data Topic</label>
                <ngx-select-dropdown [options]="topicOptions" name="topics" [config]="configTopics"
                [(ngModel)]="selectedTopics" [multiple]="true" class="customDropdown" id="topics-selection"></ngx-select-dropdown>
              </div>
                <div class="row" *ngIf="hot_controls" style="align-items: center; margin-bottom: 1rem;">
                    <p class="inline-p"><a class="inline-p" target="_blank" rel="noopener" href="https://www.hotosm.org/impact-areas/">HOT-Impact-Areas:</a></p>
                    <div class="custom-row" style="width: auto;">
                        <div class="hub-icon-wrapper"><button title="Disaster & Climate Resilience " (click)="changeImpactArea('disaster')" class="hub-icon" style="background: url(../../../assets/images/impact_areas/disaster_climate_resilience.png)"></button></div>
                        <div class="hub-icon-wrapper"><button title="Sustainable Cities & Communities" (click)="changeImpactArea('sus_cities')" class="hub-icon" style="background: url(../../../assets/images/impact_areas/sustainable_cities.png)"></button></div>
                        <div class="hub-icon-wrapper"><button title="Public Health" (click)="changeImpactArea('pub_health')" class="hub-icon" style="background: url(../../../assets/images/impact_areas/public_health.png)"></button></div>
                        <div class="hub-icon-wrapper"><button title="Displacement & Safe Migration" (click)="changeImpactArea('migration')" class="hub-icon" style="background: url(../../../assets/images/impact_areas/displacement.png)"></button></div>
                        <div class="hub-icon-wrapper"><button title="Gender Equality" (click)="changeImpactArea('g_equality')" class="hub-icon" style="background: url(../../../assets/images/impact_areas/gender_equality.png)"></button></div>
                    </div>
                </div>
            </div>
          </div>
          <button class="btn btn-primary btn-color" (click)="getStatistics()" type="submit">Get Statistics</button>
        </form>
      <!-- </div> -->
    </div>
  </div>
</div>
