<div class="big_number">
  <div class="layers bd bgc-white p-20@md+ p-10@sm p-20@sm- {{startSelected ? 'selected' : ''}}">
    <span class="icon-holder tooltip1" data-bs-toggle="tooltip" title="{{tooltip}}" data-bs-html="true">
      <i class="c-grey-800 ti-help-alt"></i>
    </span>
    <div class="layer w-100 mB-10">
      <span class="icon-holder">
        <i class="fa-solid {{icon}} fsz-xl"></i>
      </span>
    </div>
    <div class="layer w-100">
      <span class="d-ib lh-0 va-m fw-600 fsz-lg bdrs-10em pX-15 pY-15 bgc-{{color}}-50 c-{{color}}-500 whs-nw tov-e">{{value}}</span>
    </div>
    <div class="layer w-100">
      <p class="lh-1 mb-0 mt-2">{{name}}</p>
    </div>
  </div>  
</div>
