<div class="big_number">
    <div class="layers bd bgc-white p-20@md+ p-10@sm p-20@sm-" [ngClass]="isSelected ? 'selected' : ''">
        <span class="icon-holder tooltip1" data-bs-placement="bottom" data-bs-toggle="tooltip" title="{{data.tooltip}}"
              data-bs-html="true" (click)="openHelp($event)">
              <i class="c-grey-800 ti-help-alt"></i>
        </span>
        <div [ngClass]="alternativeSelectedLayout ? '': 'flex-col'" style="position: relative;">
            <div class="layer" [ngClass]="alternativeSelectedLayout?'absoluteIcon':'mB-10'">
                <span class="icon-holder">
                    <i class="fa-solid {{data.icon}} fsz-xl"></i>
                </span>
            </div>
            <div class="layer w-100" style=" align-self: center">
                <span class="d-ib lh-0 va-m fw-600 fsz-lg bdrs-10em pX-15 pY-15 bgc-{{data['color-hex']}}-50 c-{{data['color-hex']}}-500 whs-nw tov-e"
                      [ngStyle]="{'color': data['color-hex'], 'background-color':data['color-light']}">
                    {{ formatNumbertoNumberformatString(data.value) }}
                </span>
                @if (data.value < 0) {
                    <span class="icon-holder tooltip2" data-bs-placement="bottom"
                          data-bs-toggle="tooltip"
                          title="NOTE: Negative results can occur for all Δ topics if the number of deleted objects surpassed the number of newly created objects for the hashtag and the time range defined in your query. The number of modified objects is not considered. "
                          data-bs-html="true">
                        <i class="c-grey-800 ti-help-alt"></i>
                    </span>
                }
            </div>
        </div>
        <div class="layer w-100">
            <p class="lh-1 mb-0 mt-2">{{ data.name }}</p>
        </div>
        @if (alternativeSelectedLayout) {
            <span class="mT-5 mB-5 detailDivider" style="border-bottom-color: {{data['color-hex']}}"></span>
            <div class="flex-row" style="line-height: 14px;">
                <div class="flex-col">
                    <span style="color: {{data['color-hex']}}; font-weight: bold;">{{ formatNumbertoNumberformatString(data.added!) }}</span>
                    <p class="lh-1 mb-0 mt-1">Created</p>
                </div>
                <div class="flex-col mR-10 mL-10 mT-1">
                    @if (data.modified && data.modified.unit_less !== undefined) {
                        <span style="color: {{data['color-hex']}}; font-weight: bold;">+{{ formatNumbertoNumberformatString(data.modified.unit_more!) }}
                            | -{{ formatNumbertoNumberformatString(data.modified.unit_less) }}</span>
                    } @else {
                        <span style="color: {{data['color-hex']}}; font-weight: bold;">{{ formatNumbertoNumberformatString(data.modified!.count_modified) }}</span>
                    }
                    <p class="lh-1 mb-0 mt-1">Modified</p>
                </div>
                <div class="flex-col">
                    <span style="color: {{data['color-hex']}}; font-weight: bold;">{{ formatNumbertoNumberformatString(data.deleted!) }}</span>
                    <p class="lh-1 mb-0 mt-1">Deleted</p>
                </div>
            </div>
        }
    </div>
</div>
