<div class="bd bgc-white pos-r" [hidden]="!data" #overlayContainer>
    <overlay [isLoading]="isPlotsLoading"  [containerElement]="overlayContainer"></overlay>

    <div class="layers">
        <div class="peers layer w-100 pX-20 pT-20">
            <!--<h6 class="peer lh-1">Chart based on interval</h6>-->
            <button type="button" class="btn btn-sm btn-outline-dark w-3r p-0 h-3r pos-a l-10 t-10 z-500 download-button" data-bs-toggle="tooltip" [attr.data-bs-title]="'Download CSV data used to generate this chart'" (click)="downloadCsv()">
            <span class="icon-holder">
                  <i class="ti-download"></i>
                </span>
            </button>
        </div>
        <div class="layer w-100 pX-20 pB-20">
            <div id="summaryplot" style="height: 350px;"></div>
        </div>
    </div>
</div>
