/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/index' as *;
@import '../node_modules/ng-zorro-antd/ng-zorro-antd.min.css';

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}