//inline code quotation displayed as grey pills
.icquote {
  padding: .2em .4em;
  margin: 0;
  font-size: 85%;
  font-family: monospace;
  font-weight: bold;
  white-space: break-spaces;
  background-color: #E3F2FD; //rgba(175,184,193,0.2);
  border-radius: 6px;
}


@for $i from 1 through 6 {
  h#{$i} {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
}

ul, ol {
  margin-bottom: 1rem;
}

figure {
  text-align: center;
  font-style: italic;
}

figure img {

  box-shadow: 2px 2px 8px grey;
  margin-bottom: 1rem;
}

