<div class="bd bgc-white pos-r" #overlayContainer>
    <overlay [isLoading]="isH3Loading" [containerElement]="overlayContainer"></overlay>
    <div class="peers fxw-nw@lg+ ai-s">
        <div class="peer peer-greed w-70p@lg+ w-100@lg- p-20">
            <div class="layers">
                <div class="layer w-100 mB-10">
                </div>
                <div class="w-100" style="aspect-ratio: 2/1;position: relative;">
                    <div #deckContainer class="deck-container"></div>
                    <div class="legend-container" *ngIf="!isH3Loading && minMaxStats">
                        <app-legend
                                [minValue]="minMaxStats.result.min"
                                [maxValue]="minMaxStats.result.max"
                                [colorFunction]="getColorFn()"
                                [unit]="getTopicUnit()">
                        </app-legend>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
